
<form class="salvar">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.name" type="text"matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Idade</mat-label>
    <input [ngModelOptions]="{standalone: true}"  [(ngModel)]="student.age" type="number"matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Curso</mat-label>
    <input [ngModelOptions]="{standalone: true}"  [(ngModel)]="student.course"type="text"matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Semestre</mat-label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.semester" type="text"matInput>
  </mat-form-field>


  <button  *ngIf="!isupdate" (click)="salvar()" mat-button> salvar
    <mat-icon fontIcon="save"></mat-icon>
  </button>

  <button *ngIf="isupdate" (click)="salvar()" mat-button> atualizar
    <mat-icon fontIcon="save"></mat-icon>
  </button>

</form>
